.ContactUs {
    padding: 0 5%;
    margin-top: 100px;
    display: flex;
    color: #221122;
}
.ContactUsLeft {
    width: 45%;
    padding: 0 5%;
    padding-top: 100px;
}
.ContactUsLeft > form {
    display: flex;
    flex-direction: column;
}
.ContactUsLeft > * {
    margin: 15px 0;
}
.ContactUsRight {
    flex: 1;
}
.ContactUsRight > img {
    width: 100%;
}
.Radio {
    display: flex;
    align-items: center;
}
.Radio > span {
    margin-left: 10px;
    cursor: pointer;
}
.Message, .EmailInput {
    margin: 0;
    width: 100%;
    background: rgba(34, 17, 34, 0.06);
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
}
.Message {
    resize: none;
}
.ContactUsLabel {
    margin-top: 20px;
    margin-bottom: 5px;
}
.ContactUsBtn {
    width: 100%;
    padding: 10px;
    border: none;
    background: #221122;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
@media screen and (max-width: 800px) {
    .ContactUs {
        padding: 0 2%;
    }
}
@media screen and (max-width: 500px) {
    .ContactUs {
        flex-direction: column;
    }
    .ContactUs > * {
        width: 100%;
    }
}